html {
    font-size: 62.5%;
}
  
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
font-family: sans-serif;
font-size: 1.8rem;
height: 100rem;
}

header {
    background-color: #fff;
    width: 100%;
    height: 17rem;
    z-index: 1;
    padding: 0;
    margin: 0;
    top: 0;
    position:relative;
}

main {
    justify-content: center;
    padding-top: 16rem;
    z-index: 0;
}

footer {
    width: 100%;
    height: 50rem;
    padding: 0;
    margin: 0;
    background-color: #000;
    display: flex;
    flex-direction: row;
    position: relative;
}